---
---
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');
$primary: #00034B;
$secondary: #f32f2f;
$accent: #ff5656;
$h-color: #d0d4ee;
$p-color:#b3b8d4;
$light: #FFFFFF;
$red: #ff3434;

body {
  font-family: Verdana, sans-serif;
  //font-family: 'Poppins', sans-serif;
  color: #373a3c;
  background-color: $primary;
}

p {
  color: $p-color;
  font-weight: normal;
  font-size: 20px;
}

h1 {
  font-weight: normal;
  font-size: 7.0em;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-style: italic;
  color: #d4b3b3;
  //color: #abb0d4;
}

a {
  color: $accent;
}

a:hover {
  color: $accent;
}

.btn {
  opacity: 0.95;
}

.btn:hover {
  opacity: 1;
  border: solid $secondary 2px !important;
}

#main-cover {
  background: $primary;
  text-align: center;
  color: $light;
  height: 100vh;
  position: relative;

  // #particles-js {
  //   position: absolute;
  //   top: 0;
  // }
  .btn {
    background-color: $secondary;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 0 3px;
  }

  .cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cover-date {
    font-size: 2em;
    padding-top: 50px;
    color: $secondary;
  }

  .cover-buttons {
    margin: 30px 0 15px;
  }

  .cover-buttons a {
    margin: 0 7px;
  }

  .cover-buttons a:hover{
    background-color: $light;
  }

  .social {
    font-size: 28px;
    margin: 10px;

    a {
      color: #fff;
    }

    .fa { margin: 0 5px; }
  }
  .registration-link {
    font-size: 30px;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   display: block;
  //   height: 50px;
  //   background: url('/img/cover-bottom.svg') no-repeat;
  //   background-size: 100%;
  // }
}

#sponsor-container {
  .btn {
    color: #fff;
    background-color: $secondary;
    border-radius: 3px;
    padding: 8px;
    margin: 0 3px;
  }
}

.bg-darker-light {
  background: $primary;
  color: $h-color;
}

.map img {
  max-height: 300px;
  max-width: 100%;
}

.footer .icons a {
  color: #fff;
  font-size: 18px;
  margin: 0 4px;
}

@media (max-width: 550px) {
  .cover-content {
    h1 {
      font-size: 3.8em;
    }
  }

  .faq { text-align: center; 
  
  }

  #faq .row h4{
    font-size: 22px;
    font-weight: bold;
  }
}

/* Nav Menu. */

.menu-area {
  position: relative;
  width: calc(100%);
  margin: 0 auto;
  background: #f32f2f;
  padding: 10px 0;
  text-align: center;
  z-index: 1;
}

.menu-area li {
  list-style: none;
  display: inline-block;
}

.menu-area a {
  color: #FFF;
  text-decoration: none;
  z-index: 1;
  position: relative;
  line-height: 30px;
  font-size: 16px;
  font-family: Verdana;
  padding: 0 25px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-area a:after {
  position: absolute;
  transform: translateY(-50%);
  left: 100%;
  top: 50%;
  background: #FFF;
  height: 80%;
  width: 1px;
  content: '';
}

.last-one:after {
  width: 0 !important;
}

// Decorative Banner-like ends for the Nav menu. It's probably not needed.

/*.menu-area:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border-top: 10px solid #c52424;
  border-right: 20px solid #c52424;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.menu-area:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border-top: 10px solid #c52424;
  border-left: 20px solid #c52424;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*#mlh-trust-badge:hover
{
    transform: translateY(-5px);
}*/

/* End Nav Menu. */

/* Home page scroll view. */
#scroll a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 60px;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}


@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* End of home page scroll view */


/* Start of introduction section */

#intro {

  display: flex;
  justify-content: center;
  align-items: center;
}

#intro .container .header {

  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/* End of introduction section */


/*Start of FAQ section*/
#faq h2{
  padding: 50px 0px 50px 0px;
  font-weight: bold;
}

#faq .row {

  padding-bottom: 50px;
}

#faq .row h4{
  font-size: 28px;
  font-weight: bold;
}

#faq .row .col {

  padding: 10px;
  padding-right: 50px;
}

/* Panel Buttons */
.accordion:before {
  position: absolute;
  transform: translate(-1150px, -25%);
  left: 100%;
  top: 25%;
  background: #FFF;
  height: 80%;
  width: 1px;
  content: '';
}

.accordion {
  position: relative;
  background-color: $primary;
  color: $h-color;
  cursor: pointer;
  padding: 4px 8px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
}

.active, .accordion:hover {
  color: $light;
  background-color: #5658a1;
}

.panel {
  margin: 8px;
  padding: 0 18px;
  background-color: $primary;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*End of FAQ section*/

/* Start of map page */
#hacklocation {
  padding: 30px 0px;
}

#hacklocation .map {
  padding: 30px 0px;
  width: 20rem;
}

#location-column {
  border-left: 1px solid #6d8ba2;
}

.drink-sponsors img {
  max-height: 120px;
}
/*
 turns content grayscale until you hover over it
.partners img {
  filter: grayscale(100%);
  transition: all 0.2s linear;
  max-height: 150px;
  max-width: 250px;


  &:hover {
    filter: grayscale(0%);
  }
}
*/

.partners .row {
  margin-bottom: 20px;
}

#mc-embedded-subscribe {
    font-size: 1.3rem;width:100%;
    cursor: pointer;
}

#mc-embedded-subscribe:hover {
    background-color: #9eb6bd;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.registration-open {
    font-size: 1.5rem;
}

.registration-notif {
  font-size: 1.5em;
}


.schedule-location h2 {
  padding: 30px 0;
}

#schedule {
  padding: 30px 0;
}

#schedule h2 {
  padding: 50px 0px 50px 0px;
  font-weight: bold;
}

#register {
  padding: .75rem 2.5rem !important;
  font-size: 2rem;
}

.live {
  background-color: $primary;
  color:#373a3c;
}

#logo {
  color: #FFFFFF;
}

.margin-bottom {
  margin-bottom:25px;
}

.overflow-scroll {
  max-height: 210px;
  overflow: scroll;
}

/* Start of team section */

#team-members {

  .linkedin-icon {
    width: 24px;
  }

  .card {
    height: 18rem;
    width: 15rem;
    background-color: transparent;
    border-color: transparent;
    // display: block;
    margin: auto;
    margin-bottom: 1rem;

    img {
      object-fit: cover; /* Do not scale the image */
      object-position: center; /* Center the image within the element */
      height: 16rem;
      width: 16rem;
    }
  }

  .title {
    font-size: 14px;
  }

  .front, .back {
    display: block;
  }

  .back {
    font-size: 13px;

    .bio {
      padding: 1rem;
      font-size: 14px;
    }
  }
}

/* End of team section */

// /* Start of sponsor section */

// #sponsors {

//   .row {
//     margin: 1rem 0rem;
//   }

// }

// /* End of sponsor section */

.sponsor-row-1 {
  margin: 3rem 0rem;
}

.sponsor-row-last {
  margin-bottom: 3rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 55px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  line-height: 55px; /* Vertically center the text there */
}

#card {
  background-color: white;
  height: 300px;
  width: 300px;
}
