---
---
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');
$primary: #000000;
$secondary: #9eb6bd;
$accent: #ec971f;
$dark-light: #F2F2F2;
$light: #FFFFFF;
$red: #801515;

body {
  font-family: 'Poppins', sans-serif;
  color: #373a3c;
}

h1 {
  font-weight: normal;
  font-size: 7.0em;
}

h2 {
  font-weight: bold;
}

a {
  color: $accent;
}

#main-cover {
  background: $primary;
  text-align: center;
  color: $light;
  height: 100vh;
  position: relative;

  // #particles-js {
  //   position: absolute;
  //   top: 0;
  // }
  .btn {
    background: #fff;
    color: #333;
    border-radius: 3px;
    padding: 8px;
    margin: 0 3px;
  }

  .cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cover-date {
    font-size: 2em;
    color: $secondary;
  }

  .cover-buttons {
    margin: 30px 0 15px;
  }

  .cover-buttons a {
    margin: 0 7px;
  }

  .cover-buttons a:hover{
    background-color: $secondary;
  }

  .social {
    font-size: 28px;
    margin: 10px;

    a {
      color: #fff;
    }

    .fa { margin: 0 5px; }
  }
   .Gold-Sponsors img {
     width: 40%;
    height: auto;
   }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   display: block;
  //   height: 50px;
  //   background: url('/img/cover-bottom.svg') no-repeat;
  //   background-size: 100%;
  // }
}

.bg-darker-light {
  background: #000000;
  color: $dark-light;
}

.map img {
  max-height: 300px;
  max-width: 100%;
}

.footer .icons a {
  color: #fff;
  font-size: 18px;
  margin: 0 4px;
}

@media (max-width: 550px) {
  .cover-content {
    h1 {
      font-size: 3.8em;
    }
  }

  .faq { text-align: center; }
}

/* Home page scroll view. */
#scroll a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 60px;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}


@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* End of home page scroll view */


/* Start of introduction section */

#intro {

  display: flex;
  justify-content: center;
  align-items: center;
}

#intro .container .header {

  padding-bottom: 20px;
}

/* End of introduction section */


/*Start of FAQ section*/
#faq h2{
  padding: 50px 0px 50px 0px;
  font-weight: bold;
}

#faq .row {

  padding-bottom: 50px;
}

#faq .row h4{

  font-weight: bold;
}

#faq .row .col {

  padding: 10px;
  padding-right: 50px;
}
/*End of FAQ section*/

/* Start of map page */
#hacklocation {
  padding: 30px 0px;
}

#hacklocation .map {
  padding: 30px 0px;
}

.drink-sponsors img {
  max-height: 120px;
}
/*
 turns content grayscale until you hover over it
.partners img {
  filter: grayscale(100%);
  transition: all 0.2s linear;
  max-height: 150px;
  max-width: 250px;


  &:hover {
    filter: grayscale(0%);
  }
}
*/

.partners .row {
  margin-bottom: 20px;
}

#mc-embedded-subscribe {
    font-size: 1.3rem;width:100%;
    cursor: pointer;
}

#mc-embedded-subscribe:hover {
    background-color: #9eb6bd;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.registration-open {
    font-size: 1.5rem;
}

.registration-notif {
  font-size: 1.5em;
}


.schedule-location h2 {
  padding: 30px 0;
}

#schedule {
  border-right: 1px solid #6d8ba2;
  padding: 30px 0;
}

#schedule h2 {
  padding: 50px 0px 50px 0px;
  font-weight: bold;
}

#register {
  padding: .75rem 2.5rem !important;
  font-size: 2rem;
}

.live {
  background-color: #000000;
  color:#373a3c;
}

#logo {
  color: #FFFFFF;
}

.margin-bottom {
  margin-bottom:25px;
}

.overflow-scroll {
  max-height: 210px;
  overflow: scroll;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 55px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  line-height: 55px; /* Vertically center the text there */
}
