# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: HackUTA
email: hackuta.team@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_url: https://twitter.com/hackuta
github_url:  https://github.com/hackuta
facebook_url:  https://www.facebook.com/hackuta

sponsor_url: "/files/Official_HackUTA_Sponsorship_Prospectus.pdf"
volunteer_url: "https://docs.google.com/forms/d/e/1FAIpQLSeDNKpA1Os1Q1xHVomsGxqyN7n--QZATnXCbpyQtDZrj115WQ/viewform"
register_url: "https://uta-mobi.typeform.com/to/mw366f"

# Build settings
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
