<section id="contact-container" class="bg-darker-light text-center py-3">
    <a name="sponsors"></a>
    <div id="contact-info" class="container">
        <img src="../img/logos-new/logo-icon.svg" alt="Website Icon" width="200" height="200">
  
        <div id="contact-info">
            <a class="smallbutton1" href="mailto:{{site.email}}"><i class="fa fa-fw fa-envelope"></i></a>
            <a class="smallbutton1" href="{{site.facebook_url}}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
            <a class="smallbutton1" href="{{site.twitter_url}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        </div>

      <br>
      <br>
      <br>
  
    </div>
  </section>