<section id="main-cover" class="cover">

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {
      if(f.fbq)return;n=f.fbq=function(){
        n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '477345445962042');
       fbq('track', 'PageView');
  </script>
  <noscript>
     <img height="1" width="1"
     src="https://www.facebook.com/tr?id=477345445962042&ev=PageView
     &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <div id="particles-js"></div>
  <div class="cover-content">
    <a name="top"></a>
    <h1>Hack<strong>SMU</strong></h1>
    <div class="cover-date">
     February 2 - 3, 2019
    </div>


    <div class="cover-contact">
      contact us at <a href="mailto:hacksmu.team@gmail.com">hacksmu.team@gmail.com</a>
      <div class="social">
        <a href="{{site.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="{{site.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
        <!-- <a href="{{site.github_url}}" target="_blank"><i class="fa fa-github"></i></a>. -->
      </div>
    </div>
    <div class="registration-link">

        <a href="{{site.register_url}}" class="btn" id="registrationBtn">Apply for HackSMU here!</a>
    </div>
  </div>

  <div id="scroll">
    <a><span></span></a>
  </div>

</section>
