<section id="intro" class="bg-darker-light text-center container-fluid py-4">

  <div class="container">

    <div class="header">
      <h2>Southern Methodist University's third 24-hour hackathon</h2>
      <p style="margin: 0">HackSMU will take place on October 17 - 18, 2020.</p>
      <p>All majors are welcome, so come learn skills, meet people, create projects, and have fun!</p>
      <h3>Stay tuned for updates as HackSMU transitions to a virtual Hackathon model for the official 2021 MLH season.
        Rest assured, we are working tirelessly to ensure all participants will be able to experience HackSMU at its fullest!
      </h3>
    </div>

  </div>
</section>