<section id="intro" class="bg-darker-light text-center container-fluid py-4">

  <div class="container">

    <div class="header">
      <h2>Welcome to HackSMU!</h2>
      <div style="padding: 30px">
        <p style="margin: 0">We are Southern Methodist University's Annual Hackathon.</p>
        <p>All experience levels are welcome, so come learn skills, meet people, create projects, and have fun!</p>
        <h3>Stay tuned for updates as HackSMU transitions to a virtual Hackathon model for the official 2021 MLH season.
          Rest assured, we are working tirelessly to ensure all participants will experience HackSMU at its fullest!
        </h3>
      </div>
    </div>

  </div>
</section>