<section id="main-cover" class="cover">

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {
      if(f.fbq)return;n=f.fbq=function(){
        n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '477345445962042');
       fbq('track', 'PageView');
  </script>
  <noscript>
     <img height="1" width="1"
     src="https://www.facebook.com/tr?id=477345445962042&ev=PageView
     &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <div id="particles-js"></div>
  <div class="cover-content">

    <!--<h1>HackSMU IV</h1>-->
    <!--<img class="mainlogo" src="../img/logos/logo-iv.svg" alt="Website Logo" width="500" height="300">-->
    <img class="mainlogo" src="../img/logos/logo-iv.svg" alt="Website Logo" width="500">

    <!--<h2 id="countdown" class="cover-countdown"></h2>-->

    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Apr 16, 2022 12:00:00").getTime();
      
      // Update the count down every 1 second
      var x = setInterval(function() {
      
        // Get today's date and time
        var now = new Date().getTime();
      
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
      
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
        if (distance > 0) {
          // Display the result in the element with id="demo"
          document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";
        }
        else {
          clearInterval(x);
        }
      }, 1000);
    </script>

    <a name="top"></a>
    <!--<h1>Hack<strong>SMU</strong></h1>-->
    <div class="cover-date text-white">
     September 16 - 18, 2022
    </div>


    <!-- <div class="cover-contact">
      contact us at <a href="mailto:hacksmu.team@gmail.com">hacksmu.team@gmail.com</a>
      <div class="social">
        <a href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a>
        <a href="{{site.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="{{site.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="{{site.github_url}}" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div> -->
    <div class="registration-link">

      <a href="https://forms.gle/jiKZFCCQdXLuyV9LA" class="btn btn-lg registration-btn">Register for HackSMU IV Here!</a>
            <!--<a href="{{site.register_url}}" class="btn btn-lg" id="registrationBtn">Apply for HackSMU Here!</a>-->
    </div>
  </div>

  <div id="scroll">
    <a><span></span></a>
  </div>

</section>

<section id="intro" class="bg-darker-light text-center container-fluid py-3">

  <div class="container">

    <div class="header">
      <h2>Welcome to HackSMU!</h2>
      <div style="padding: 10px">
        <p style="margin: 0">We are SMU's Annual 36-hour Hackathon. All majors and experience levels are welcome, so join us to meet up, have fun, and create something amazing!</p>
      </div>
    </div>
  </div>
</section>