<div id="hacklocation" class="">
    
  <!-- <h4> HackSMU this season will be virtual! Stay tuned for details.</h4> -->
  
  <!-- HackSMU II-->
  
  <!--
  <a>
    <img class="smu" height="400px" width="400px" style="margin-bottom: 30px" src="../img/fincher-pic.jpg">
  </a>
  <p>
      Ernst & Young Gallery, Fincher Building<br />
      Cox School of Business, Southern Methodist University<br />
      6214 Bishop Blvd<br />
      Dallas, TX 75275<br />
    </p> -->

  <!-- HackSMU I-->

  <h4>In-Person</h4>
      <p>
          Hughes-Trigg Student Center (Lower Level)<br /><br />
    3140 Dyer Street,<br />
          Dallas TX, 75275
      </p>
  <a href="https://www.smu.edu/StudentAffairs/StudentCenterandActivities/HughesTriggStudentCenter">
    <img class="map" src="../img/images/map.jpg">
  </a>

  <h4>Virtual</h4>
  <!-- Virtual Links -->
  <a href="https://hacksmu.org/live">HackSMU Live (Coming Soon)</a><br>
  <a href="https://hacksmu.org/guide">Hacker Guide</a><br>
  <a href="https://www.twitch.tv/hacksmu">Twitch</a><br>
  <a href="https://discord.gg/8QyY3nt">Discord</a><br>
  <a href="#">Devpost (Coming Soon)</a><br>
</div>