<div id="hacklocation" class="">
    
    <!-- <h4> HackSMU this season will be virtual! Stay tuned for details.</h4> -->

    <a href="https://discord.gg/QeGrpZb">HackSMU Virtual Discord Server</a>
    
    <!-- HackSMU II-->
    
    <!--
    <a>
      <img class="smu" height="400px" width="400px" style="margin-bottom: 30px" src="../img/fincher-pic.jpg">
    </a>
    <p>
        Ernst & Young Gallery, Fincher Building<br />
        Cox School of Business, Southern Methodist University<br />
        6214 Bishop Blvd<br />
        Dallas, TX 75275<br />
      </p> -->

    <!-- HackSMU I-->

        <!-- <p>
            Hughes-Trigg Student Center<br />
      3140 Dyer Street,<br />
            Dallas TX, 75275
        </p> -->
    <!-- <a href="https://www.smu.edu/StudentAffairs/HTrigg/StudentCenter/BuildingMap">
      <img class="map" src="../img/images/map.jpg">
    </a> -->
</div>