<section class="bg-darker-light container-fluid">
  <a name="schedule-and-location"></a>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12 text-center schedule-location">
        <h2>Schedule and Location</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include schedule.html %}
      </div>

      <div class="col-md-6">
      	<div id="hacklocation" class="text-center">
      		<p>
      			Nedderman Hall<br />
            416 Yates Street<br />
      			Arlington, TX 76010
      		</p>
      		<div class="map">
      		</div>
      	</div>
      </div>
    </div>
  </div>
</section>
