<section class="bg-darker-light container-fluid">
  <a name="schedule-and-location"></a>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12 text-center schedule-location">
        <h2>Tentative Schedule and Location</h2>
      </div>
    </div>
    <div class="row">
      <div id="schedule-column" class="col-md-6">
        {% include schedule.html %}
      </div>

      <div id="location-column" class="col-md-6">
      	<div id="hacklocation" class="text-center">
          <a>
            <img class="smu" height="400px" width="400px" style="margin-bottom: 30px" src="../img/images/smu.jpg">
          </a>
          <p>
              Southern Methodist University Main Campus<br />
              6425 Boaz Lane<br />
              Dallas, TX 75205<br />
              <i>Specific Building TBD</i>
            </p>
      		<!-- <p>
      			Hughes-Trigg Student Center<br />
            3140 Dyer Street,<br />
      			Dallas TX, 75275
      		</p> -->
          <!-- <a href="https://www.smu.edu/StudentAffairs/HTrigg/StudentCenter/BuildingMap">
            <img class="map" src="../img/images/map.jpg">
          </a> -->
      	</div>
      </div>
    </div>
  </div>
</section>
