<div id="schedule">
		<div>
        <!-- Below is the schedule for HackSMU II. Once we get details for the next Hackathon, we can replace the formatting below with new information.-->

        <h4>Saturday (September 17th)</h4>

        <p>
          <strong>10am:</strong> Check-in Begins<br/>
          <strong>12pm:</strong> Opening Ceremony, Hacking Starts<br/>
          <strong>1pm:</strong> Lunch<br/>
          <strong>6:30pm:</strong> Dinner<br/>
          <strong>12am:</strong> Midnight Boba<br/>
          <strong>12:30am:</strong> Quiet Hours Begin<br/>
        </p>

        <h4>Sunday (September 18th)</h4>

        <p>
          <strong>6:30am:</strong> Quiet Hours End<br/>
          <strong>7am:</strong> Sunrise over Dallas Hall<br/>
          <strong>9am:</strong> Breakfast<br/>
          <strong>12pm:</strong> Hacking Ends, Submit to Devpost<br/>
          <strong>1pm:</strong> Judging Begins<br/>
          <strong>2pm: </strong> Closing Ceremony <a href="https://www.twitch.tv/hacksmu">(Link)</a>, Winners announced<br />
        </p>

        <h3>Workshops and Fun Events TBA!</h3>
		</div>
	</div>
