<div id="schedule">
		<div>
  			<h4>Saturday (February 2)</h4>
  			<p>
          <strong>08:00 am:</strong> Check-in begins<br/>
          <strong>09:00 am:</strong> Opening Ceremony<br/>
          <strong>10:00 am:</strong> Coding begins<br/>
          <strong>12:00 pm:</strong> Lunch <i>(Roly Poly Sandwiches)</i><br/>
          <strong>06:00 pm: </strong> Dinner <i>(The Halal Guys)</i><br />
          <strong>10:00 pm:</strong> Midnight Snack <i>(Pokey O's Cookies and Ice Cream)</i><br/>
          <strong>11:00 pm:</strong> Quiet Hours begin<br/>
        </p>
        <h4>Sunday (February 3)</h4>
        <p>
          <strong>7:00 am:</strong> Quiet Hours end, Submissions open<br/>
          <strong>8:00 am:</strong> Brunch <i>(Panera Bread)</i><br/>
          <strong>10:00 am:</strong> Coding ends, Submissions close<br/>
          <strong>10:30 am:</strong> Showcase and Judging<br/>
          <strong>12:00 pm:</strong> Closing Ceremony<br/>
          <strong>02:00 pm:</strong> HackSMU ends<br/>
        </p>
        <p style="text-decoration: underline">Note: HackSMU <i>will</i> end before the Super Bowl starts.</p>
		</div>
	</div>
