<div id="schedule">
		<div>
        <!-- Below is the schedule for HackSMU II. Once we get details for the next Hackathon, we can replace the formatting below with new information.-->

        <h4>Friday (November 6th)</h4>

        <p>
          <strong>8pm:</strong> Opening Ceremony <a href="https://www.twitch.tv/hacksmu">(Link)</a>, Hacking Starts<br/>
          <strong>8:30pm:</strong> Team Formation Activity<br/>
          <strong>10pm:</strong> Late Night Among Us<br/>
        </p>

        <h4>Saturday (November 7th)</h4>

        <p>
          <strong>7am:</strong> Sunrise over Dallas Hall<br/>
          <strong>9am:</strong> Pancakes/Waffle Making<br/>
          <strong>10am:</strong> Bob Ross Painting<br/>
          <strong>11am:</strong> Workshop: LinkedIn and Interviews<br/>
          <strong>12pm:</strong> Zumba<br/>
          <strong>1pm:</strong> Skribblio<br/>
          <strong>2pm:</strong> Workshop: Intro to Web Development<br/>
          <strong>5pm: </strong> Workshop: Intro to Natural Language Processing<br />
          <strong>6pm: </strong> HackSMU Organizers Q&A<br />
          <strong>7pm:</strong> Workshop: Elevator Pitches and Branding<br/>
          <strong>10pm:</strong> Team Typeracer Tournament<br/>
        </p>

        <h4>Sunday (November 8th)</h4>

        <p>
          <strong>7am:</strong> Sunrise over Dallas Hall<br/>
          <strong>8am:</strong> Hacking Ends, Submit to Devpost<br/>
          <strong>9am:</strong> Judging Begins<br/>
          <strong>11am: </strong> Closing Ceremony <a href="https://www.twitch.tv/hacksmu">(Link)</a>, Winners announced<br />
        </p>

  			<!--h4>Saturday (February 1)</h4>
  			<p>
          <strong>11:00 am:</strong> Check-in begins<br/>
          <strong>12:00 pm:</strong> Opening Ceremony<br/>
          <strong>1:00 pm:</strong> Coding begins<br/>
          <strong>1:00 pm:</strong> Lunch<br/>
          <strong>7:00 pm: </strong> Dinner<br />
          <strong>10:00 pm:</strong> Quiet Hours begin<br/>
        </p>
        <h4>Sunday (February 2)</h4>
        <p>
          <strong>7:00 am:</strong> Quiet Hours end<br/>
          <strong>10:00 am:</strong> Submissions open<br/>
          <strong>10:00 am:</strong> Brunch<br/>
          <strong>12:00 pm:</strong> Coding ends, Submissions close<br/>
          <strong>12:30 pm:</strong> Showcase and Judging<br/>
          <strong>1:30 pm:</strong> Closing Ceremony<br/>
          <strong>2:00 pm:</strong> HackSMU ends<br/>
        </p>
        <br!-->
		</div>
	</div>
