<!-- Since this is running on the browser, we have to enter each filename manually (in index.md). Is there a better way to do this?-->

<section id="slideshow">
    <div class="slideshow-container text-center">
    <!-- <div class="slideshow-container text-center"> -->

        <!-- Full-width images with number and caption text -->
        {% for item in page.slideshow-filenames %}
        <div class="slides fade">
            <img src="../img/photos/{{item}}.jpg" style="width:100%">
        </div>
        {% endfor %}
    
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</section>

<script>

    var slideIndex = Math.ceil(Math.random() * 34);
    showSlides(slideIndex);

    console.log("Running Script");

    setInterval(function(){plusSlides(1);}, 6000);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");

        console.log(slides);
        console.log(slideIndex);

        if (n > slides.length - 1) {slideIndex = 0;}
        if (n < 0) {slideIndex = slides.length - 1;}
        
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex].style.display = "block";
    }
</script>