<a name="sponsors"></a>
<section class="container text-center py-3 sponsor-container">
  <h2 class="my-4">Our Sponsors</h2>

  <p>
    HackSMU's vision is to give back to the community and help spread
    innovation and creativity though students. If you'd like to be part
    of this movement, we'd love to have you sponsor!
  </p>

  <div>
    <a href="mailto:{{site.email}}" class="btn btn-primary">Sponsor Us</a>
    <a href="{{site.sponsor_url}}" target="_blank" class="btn btn-primary">Learn More</a>
	<br>
  </div>


</section>
