<section id="sponsor-container" class="bg-darker-light text-center py-3">
  <div class="container">
    <h2 class="my-4">Our Sponsors</h2>

    <div id="sponsor-logos" style="flex:auto">
      <div id="" class="row sponsor-row-1">
        <div class="col-sm-2"></div>
        <div class="col-sm-6 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/statefarm.png"></div>
        <div class="col-sm-2 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/smusenate.jpg"></div>
        <div class="col-sm-2"></div>
      </div>
      <div id="" class="row sponsor-row-1">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><img class="img-fluid" src="../img/sponsor-logos/Credera.jpg"></div>
        <div class="col-sm-5 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Dialexa.png"></div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row sponsor-row-1">
        <div class="col-sm-6"><img class="img-fluid" style="background-color: white; padding: 1rem;" src="../img/sponsor-logos/smulyle.png"></div>
        <div class="col-sm-6"><img class="img-fluid" style="background-color: white; padding: 1rem;" src="../img/sponsor-logos/smucox.png"></div>
      </div>
      <div id="" class="row sponsor-row-1">
        <div class="col-sm-4 d-flex align-items-center"><img class="img-fluid"  src="../img/sponsor-logos/dig.png"></div>
        <div class="col-sm-5 d-flex align-items-center"><img class="img-fluid" style="background-color: white; padding: 1rem;" src="../img/sponsor-logos/Guildhall.jpg"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" style="background-color: white; padding: 1rem;" src="../img/sponsor-logos/smucs.png"></div>
      </div>
      <div id="" class="row sponsor-row-1">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/agglo.png"></div>
        <div class="col-sm-2 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/scotty1.png"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/fenprep1.png"></div>
        <div class="col-sm-2"></div>
      </div>
      <div id="" class="row sponsor-row-1">
        <div class="col-sm-4 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/Roly Poly.png"></div>
        <div class="col-sm-4 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/Premium Poppers.png"></div>
        <div class="col-sm-4 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/Pokey O's.jpg"></div>
      </div>
      <div id="" class="row sponsor-row-last">
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/Bobaddiction.png"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/The Halal Guys.png"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/Panera.jpg"></div>
        <div class="col-sm-3 d-flex align-items-center"><img class="img-fluid" src="../img/sponsor-logos/Food/BLUMANIA.png"></div>
      </div>
    </div>

    <p>
      HackSMU's vision is to give back to the community and help spread
      innovation and creativity though students. If you'd like to be part
      of this movement, we'd love to have you sponsor!
    </p>

    <div>
      <a href="mailto:{{site.email}}" class="btn" id="sponsorUsBtn">Sponsor Us</a>
      <a href="{{site.sponsor_url}}" target="_blank" class="btn" id="prospectusBtn">Learn More</a>
      <br>
    </div>

    <br>
    <br>
    <br>

  </div>
</section>
