<html>
    <head>
        <style>
            body {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }
            h2 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center">
            <img src="/img/sponsors/image001.png" alt="">
        </div>
        <p>Hey there!</p>
        <p>Programmers at <strong>HackUTA</strong> can get a FREE .tech domain and 1 team will stand the chance to win the <strong>.tech</strong> Category Prize - $200 Amazon Voucher! Cool, eh?</p>
        <h2>Win the $200 .tech Category prize!</h2>
        <p>-       Feature your cool hackathon project on your free <strong>.tech</strong> domain name.</p>
        <p>-       Make sure to make your full .tech domain your official team name and mention the URL while submitting it on Devpost!</p>
        <hr>
        <h2>Get your FREE <strong>.tech</strong> Domain Name!</h2>
        <ol>
            <li>Log onto - <a href="http://goo.gl/NA39ej" target="_blank">www.get.tech/startups</a> - and fill your details.</li>
            <li>Select <strong>HackUTA</strong> and enter the secret code - <strong>hackuta.tech</strong> - to submit your request.</li>
        </ol>
        <p>Once approved, you will receive a coupon code which you can use at checkout on <a href="http://www.get.tech/" target="_blank">www.get.tech</a> till the last day of the hackathon to get your FREE .tech domain name.</p>
        <hr>
        <p style="text-align: center">If you have any questions, you can drop us an email - techsquad@get.tech</p>
    </body>
</html>